@import "globals";

div.fetched-plants {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

section.plant {
  @include shadow;
  @include fade-bg($light-green, $light-grey);
  border: 2px solid lighten($light-blue, 10%);
  border-bottom-color: darken($light-blue, 50%);
  border-right-color: darken($light-blue, 50%);
  margin: 1em;
  padding: 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: $break-sm) {
    flex-basis: calc(50% - 2em - 4px);
  }

  @media screen and (min-width: $break-md) {
    flex-basis: calc(33.3333% - 2em -4px);
  }

  @media screen and (min-width: $break-lg) {
    flex-basis: calc(25% - 2em - 4px);
  }

  @media screen and (min-width: $break-xl) {
    flex-basis: calc(16.66666% - 2em - 4px);
  }

  h2 {
    font-family: Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    padding: .5em;
    flex-basis: calc(100% - 1em);
  }

  h3 {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: .5em;
    flex-basis: calc(100% - 1em);
  }

  button {
    position: absolute;
    top: .5em;
    right: .5em;
    flex-basis: calc(12% -1em);
    text-align: right;
    // @include fade-bg($light-grey, $light-green);
    padding: .75em;
    border-radius: .5px;
  }

  > div:last-child {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: .5em;
  }

  div.plant {
    height: 100px;
    flex-basis: 100%;
  }
}